<h1>{{headline}}</h1>
<p>Hi {{name}},</p>
<p>{{bodyText}}</p>
{{#if actionUrl}}
<a href="{{actionUrl}}" class="btn">{{actionLabel}}</a>
{{/if}}
<hr class="divider" />
<p class="small">{{footerNote}}</p>
